<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">

    {# <div class="container">
        <div class="left-section">
           
          
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/consultations">Consultations</a>
                    </li>
                    <li>
                        <a href="/testimonials">Reviews</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Services</h2>
                    </li>
                    <li>Service1</li>
                    <li>Service2</li>
                    <li>Service4</li>
                    <li>Service5</li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="/contact">
                            {{client.address.lineOne}}<br>
                            {{client.address.lineTwo}}<br>
                            {{client.address.city}}
                            {{client.address.state}}
                            {{client.address.zip}}
                        </a>
                    </li>
                    <li>
                        <a href="tel:{{client.phoneForTel}}">
                            T:
                            {{client.phoneFormatted}}
                        </a>
                    </li>
                    <li>
                        <a href="mailto:{{client.email}}">Click to Email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div> #}

    <div class="credit">
       <a href="https://www.instagram.com/runningwaterswellness/" target="_blank" alt="Visit Running Waters Wellness on Instagram"><img decoding="async" src="/assets/svgs/instagram-logo.svg" alt="Visit Running Waters Wellness on Instagram" width="32" height="32" aria-hidden="true"></a>
        <p>Designed and Coded by Casey Morris — 
        <a href="mailto:morrisacasey@gmail.com?subject=Can%20you%20make%20me%20a%20website%3F">Email Me</a></p>
     
        <span class="copyright">
            
            &copy;{% year %} Running Waters Wellness — All Rights Reserved.</span>
             <p class="disclaimer">Disclaimer: I am an herbalist and not a medical professional. The information provided is for educational
purposes and it is never intended to be a substitute for professional medical advice, diagnosis, or
treatment. Seek your physician or other qualified health provider with questions you may have
regarding a medical condition. The herbal remedies and suggestions mentioned are intended to
promote general well-being. They are not intended to diagnose, treat, cure, or prevent any diseases.
Individual results may vary, and you should consult with a healthcare professional before starting any
new herbal regimen.</p>
    </div>
</footer>