---
title: 'Contact'
description: 'Meta description for the page'
preloadImg: '/assets/images/index/flowers.webp'
permalink: 'contact/'
eleventyNavigation:
    key: Contact
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-712">
    <div class="cs-container">
        <span class="cs-int-title">Contact</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://res.cloudinary.com/dqyhfbad0/image/upload/v1705594010/flowers_j5u1ap.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://res.cloudinary.com/dqyhfbad0/image/upload/v1705594010/flowers_j5u1ap.webp">
        <img loading="lazy" decoding="async" src="https://res.cloudinary.com/dqyhfbad0/image/upload/v1705594010/flowers_j5u1ap.webp" alt="pills" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

    <!-- ============================================ -->
    <!--                Contact Form                  -->
    <!-- ============================================ -->

<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-718">
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/contact.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/contact.jpg">
            <img decoding="async" src="/assets/images/contact.jpg" alt="runner" width="610" height="425" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Contact Me</span>
            <h2 class="cs-title">Get in Touch</h2>
            <p class="cs-text">
                Questions? Comments? I'd love to hear from you. Simply fill out the form below and I'll be in touch. 
            </p>
            <!--Form-->
            <form class="cs-form" id="cs-form-718" name="Contact Form" method="post" autocomplete="on" data-netlify="true">
                <label class="cs-label">
                    Name
                    <input class="cs-input" required type="text"  id="name-718" name="name" placeholder="Name" >
                </label>
                <label class="cs-label cs-email">
                    Email
                    <input class="cs-input" required type="email" id="email-718" name="email" placeholder="Email" >
                </label>
                {# <label class="cs-label cs-phone">
                    Phone
                    <input class="cs-input" required type="text" id="phone-718" name="phone" placeholder="Phone">
                </label> #}
                <label class="cs-label">
                    Message
                    <textarea class="cs-input cs-textarea" required name="Message" id="message-718" placeholder="Write message..." ></textarea>
                </label>
                <button class="cs-button-solid cs-submit" type="submit">Submit</button>
            </form>
        </div>
    </div>
</section>


    {% include 'components/cta.html' %}
                                
{% endblock %}