---
title: 'Running Waters Wellness'
description: 'Wellness Consultations and Blog by Herbalist and Wellness Consultant Jeff Waters'
preloadImg: '/assets/images/index/flowers.webp'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---
  scroll-behavior: smooth;
{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-home">
        <!--Background Image-->
        <picture class="cs-background-home">
            <source
		media="(max-width: 600px)"
		srcset="/assets/images/index/flowers-compressed.webp"
	>
            <source
		media="(min-width: 601px)"
		srcset="/assets/images/index/flowers-compressed.webp"
	>
            <img
		alt="pills"
		decoding="async"
		src="/assets/images/index/flowers-compressed.webp"
		aria-hidden="true"
		loading="lazy"
	>
        </picture>
        <a href="#sbs" class="scroll-arrow" aria-label="Scroll to Side By Side section" aria-hidden="true"></a>
    </div>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <h2 class="cs-topper">ABOUT ME</h2>
        <div class="cs-flex-group">
            {# <p class="cs-flex-p">
Looking forward to meeting you at our first consultation today!</p> #}
            <span class="cs-name">Jeff Waters</span>
            <span class="cs-job">Wellness Consultant</span>
            <img class="cs-quote-icon" loading="lazy" decoding="async" src="/assets/svgs/quote-white.svg" alt="gavel" width="136" height="77">
        </div>
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source
		height="256"
		media="(max-width: 600px)"
		srcset="/assets/images/index/jeff-compressed.webp"
		width="256"
	>
                    <source
		height="522"
		media="(min-width: 601px)"
		srcset="/assets/images/index/jeff-compressed.webp"
		width="522"
	>
                    <img
		alt="cabinets"
		decoding="async"
		src="/assets/images/index/jeff-compressed.webp"
		aria-hidden="true"
		loading="lazy"
	>
                </picture>

            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                {# <span class="cs-topper">About Me</span> #}

                <p class="cs-text">
Hello! My name is Jeff Waters. My goal is to guide you
toward the best version of you that you can be! Like most people, I am an on-the-go busy person with a
9-to-5 and family to attend to, so finding time to focus on wellness can be challenging. My goal is to help as
many people as possible find the time and resources they need to feel wellness in their lives. Whether I
suggest herbal teas, yoga stretches, or specific foods to eat – I am here to provide ideas and knowledge
that will support you and your needs.               
 </p>
                <p class="cs-text">
But…why me? Well, I am a molecular biologist who focuses on the general anatomy of an individual, on
top of the biochemical components that make up a person. In short – I have experience looking at things
both in the broad, whole-system and the narrow, focused areas. My coursework has included traditional
herbalism and evidence-based herbalism, looking at both how people have utilized plants and their
compounds to better an individual.</p>
                <strong>
                    <p class="">What do I do for you?</p>
                </strong>
                <ul class="cs-text">
                    <li>Come up with a wellness plan to help get you started on your wellness journey.</li>
                    <li>Utilize holistic approaches to ensure all aspects and needs are met for you.</li>
                    <li>Provide resources that will help keep you on track.</li>
                    <li>Formulate teas and products tailored specifically to you and your needs.</li>
                </ul>
                <p class="cs-text">The practice I have developed over the years has been especially useful in getting me through hard
times and putting me over the moon during the better times. A wellness practice is a way to take charge
of what is going on for you and convert all energy – positive, negative, even neutral, stagnant energy –
into something that can better your mind, your body, and your emotional well-being.
So please – book a consultation today. I am reading to get the waters moving and the good energy
flowing.</p>
                <a href="/consultations" class="cs-button-solid">BOOK A CONSULTATION</a>

            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                    Blog                      -->
    <!-- ============================================ -->

    <section id="blog-985">
        <h2 class="cs-topper">BLOG POSTS</h2>
        <div class="cs-container">
            <div class="cs-content">
                <div class="cs-flex">
                    <h2 class="cs-title">{{ post.data.title }}</h2>
                </div>
                {# <a href="" class="cs-button-solid">View All</a> #}
            </div>
            {% if collections.post | length == 0 %}
                <h1>No Recent Posts</h1>
            {% else %}
                <ul class="cs-card-group">
                    {%- for post in collections.post | reverse -%}
                        <li class="cs-item">
                            <picture class="cs-picture">
                                <!--Mobile Image-->
                                <img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}" width="413" height="480" decoding="async">
                                <!--Tablet and above Image-->
                            </picture>

                            <div class="cs-info">
                                <div class="article-group">
                                    <div class="blog-authorGroup">
                                        <picture class="blog-author-img">
                                            <img
                                    src="/assets/svgs/profile.svg"
                                    alt="house"
                                    width="32"
                                    height="32"
                                    decoding="async"/>
                                        </picture>
                                        <span class="blog-author">{{ post.data.author }}</span>
                                        <span aria-hidden="true" class="blog-dot"></span>
                                        <span class="cs-date">
                                            {{ post.date | postDate }}
                                        </span>
                                        <h3 class="cs-h3">
                                            {{ post.data.title }}</h3>
                                        <span class="cs-desc">
                                            {{ post.data.description | truncate(30, "...") }}
                                        </span>
                                        <a href="{{ post.url }}" class="cs-link">Read More</a>
                                    </div>

                                </li>
                            {%- endfor -%}
                        {% endif %}
                    </ul>
                </section>

                {# {% include 'components/featured-post.html' %} #}

                {# {% include 'components/cta.html' %} #}
            {% endblock %}