---
title: 'Running Waters Wellness'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-856">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Wellness in Motion</span>
                <h1 class="cs-title">Journey to Wellness, <br><span class="h1-second-color">Guided by Waters</span></h1>
                <p class="cs-text">

Hey lovely souls! It's Jeff here, ready to help you reach your wellness goals. From mind to body, let's craft a personalized plan together. Book a consultation today and let's embark on this amazing journey toward your best self!   </p>
                <a href="/consultations" class="cs-button-solid">Book a Consultation</a>
            </div>
            <!--Hero Image-->
            <picture class="cs-picture">
                <!--Mobile-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy.jpg">
                <!--Tablet-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy.jpg">
                <!--Desktop-->
                <source media="(min-width: 1024px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy.jpg">
                <img aria-hidden="true" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy.jpg" alt="therapy" width="570" height="701">
            </picture>
        </div>
        <!--Change the svg path fill color to whatever color the section below is so you can match it and create the illusion it is all one piece-->
        <svg class="cs-wave" width="1920" height="179" viewBox="0 0 1920 179" fill="#f7f7f7" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1920 179V91.3463C1835.33 91.3463 1715.47 76.615 1549.2 32.9521C1299.48 -32.3214 1132.77 12.1006 947.32 61.5167C810.762 97.9044 664.042 137 466.533 137C331.607 137 256.468 123.447 188.082 111.113C130.974 100.812 78.5746 91.3609 0 91.3609V179H1920Z" fill="white"/>
        </svg>
    </section>

    <!-- ============================================ -->
    <!--                   Steps                      -->
    <!-- ============================================ -->

    <section id="steps-889">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">The Process</span>
                <h2 class="cs-title">How It Works</h2>
                <p class="cs-text">
                Initial consultation is free and easy. Are you ready to take the next step in meeting your wellness goals today?
            </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="/assets/images/Icons_icon-orange.svg" alt="icon" width="32" height="32" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Book a Consultation</h3>
                    <p class="cs-item-p">
                    Book a free 15 minute consultation.
                </p>
                </li>
                <!--Arrow-->
                <li class="cs-item cs-arrow" aria-hidden="true">
                    <img class="cs-arrow-img" src="/assets/images/Icons_arrow-curve-right.svg" alt="icon" width="80" height="76" loading="lazy" decoding="async" aria-hidden="true">
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="/assets/images/Icons_icon-orange.svg" alt="icon" width="32" height="32" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Meet With Me</h3>
                    <p class="cs-item-p">
                    Let's talk about your needs and how my wellness packages can help you.
                </p>
                </li>
                <!--Arrow-->
                <li class="cs-item cs-arrow" aria-hidden="true">
                    <img class="cs-arrow-img" src="/assets/images/Icons_arrow-curve-right.svg" alt="icon" width="80" height="76" loading="lazy" decoding="async" aria-hidden="true">
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="/assets/images/Icons_icon-orange.svg" alt="icon" width="32" height="32" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Develop a Plan</h3>
                    <p class="cs-item-p">
                    I will work with you to create a personalized wellness plan depending on your wellness package.
                </p>
                </li>
            </ul>
            <a href="/consultations" class="cs-button-solid">Book a Consultation</a>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                 Why Choose Us                -->
    <!-- ============================================ -->

    <section id="why-choose-682">
        <div class="cs-container">
            <!-- Left Section -->
            <div class="cs-image-group">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FMISC%2Fhealth1.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FMISC%2Fhealth1.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FMISC%2Fhealth1.jpg" alt="people outside" width="306" height="360">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fhealth2.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fhealth2.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fhealth2.jpg" alt="people outside" width="306" height="360">
                </picture>
                <picture class="cs-picture cs-picture3">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fhealth3.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fhealth3.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fhealth3.jpg" alt="person gardening" width="306" height="360">
                </picture>
                <picture class="cs-picture cs-picture4">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fhealth4.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fhealth4.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fhealth4.jpg" alt="urban environment in green" width="306" height="360">
                </picture>
                <!--Zig Zag Graphic-->
                <img class="cs-graphic" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fzigzag.svg" loading="lazy" decoding="async" alt="zigzag" width="983" height="416">
            </div>
            <div class="cs-content">
                <span class="cs-topper">Why Choose Me</span>
                <h2 class="cs-title">I Care About <span class="cs-color">Your Health</span> And Wellness</h2>
                <p class="cs-text">
                I combine traditional practices with scientific approach.
            </p>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <h3 class="cs-h3">
                            <img class="cs-icon" aria-hidden="true" src="/assets/images/Icons_squares.svg" loading="lazy" decoding="async" alt="squares" width="17" height="18">
                        Experienced and Qualified
                    </h3>
                        <p class="cs-item-text">
                        I am a Molecular Biologist with a minor in nutrition.
                    </p>
                    </li>
                    <li class="cs-li">
                        <h3 class="cs-h3">
                            <img class="cs-icon" aria-hidden="true" src="assets/images/Icons_squares.svg" loading="lazy" decoding="async" alt="squares" width="17" height="18">
                        Holistic Approach
                    </h3>
                        <p class="cs-item-text">
                        I integrate physical, mental, and emotional aspects to address your overall well-being.
                    </p>
                    </li>
                    <li class="cs-li">
                        <h3 class="cs-h3">
                            <img class="cs-icon" aria-hidden="true" src="/assets/images/Icons_squares.svg" loading="lazy" decoding="async" alt="squares" width="17" height="18">
                        Customized Solutions
                    </h3>
                        <p class="cs-item-text">
                        I create tailored plans to individual needs for personalized care.
                    </p>
                    </li>
                </ul>
                <a class="cs-button-solid" href="about">More About Me</a>
            </div>
        </div>
    </section>

      {% include 'components/featured-post.html' %}

    {# <!-- ============================================ -->
    <!--                   Stats                      -->
    <!-- ============================================ -->

    <!-- No headers, so no section tag -->
    <div id="stats-316">
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Stats/person-gold.svg" alt="icon" width="35" height="40" loading="lazy" decoding="async" aria-hidden="true">
                </picture>
                <div class="cs-flex-group">
                    <span class="cs-number">50+</span>
                    <span class="cs-desc">Attorneys</span>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Stats/group-gold.svg" alt="icon" width="40" height="35" loading="lazy" decoding="async" aria-hidden="true">
                </picture>
                <div class="cs-flex-group">
                    <span class="cs-number">850+</span>
                    <span class="cs-desc">Global Customers</span>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Stats/award-gold.svg" alt="icon" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
                </picture>
                <div class="cs-flex-group">
                    <span class="cs-number">12</span>
                    <span class="cs-desc">Winning Awards</span>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Stats/check-gold.svg" alt="icon" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
                </picture>
                <div class="cs-flex-group">
                    <span class="cs-number">98%</span>
                    <span class="cs-desc">Success Rate</span>
                </div>
            </li>
        </ul>
    </div> #}

  

    {% include 'components/cta.html' %}
{% endblock %}